body {  
    background-color:#1b7bf7;
    color:#ffbf00;
    font-family: "Comic Sans MS", sans-serif;
}

.welcome{   
    text-align: center;
    font-size:600%;
}

.tooltip-text{
    
    color:#ffbf00;
    text-align: center;
    display:inline-block;
}

table{
    border:solid black 3px;
    background-color: #3660eb;
    text-align: leftclass="tooltip"
    display:block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding:5px;
}

.button-row{
    color:#ffbf00;
    display:block;
    text-align: center;
}

img{
    height:100%;
    width:100%;
}

td{
    max-height:200px;
    max-width:400px;   
}

img.game{
    height:100%;
    width:100%;

}

img#blender{
    height:100%;
    width:100%;
}

img#mushroom{
    height:100%;
    width:100%;
}

@keyframes grow{
    From{
        transform:scale(1)
    }
    To{
        transform:scale(1.1)
    }
}
a>img:hover{
    animation: grow 1s forwards;
    transform-origin: center;
}

.inline{
    display:inline;
}

@keyframes spin{
    From{
        transform:rotate(0deg)
    }
    To{
        transform:rotate(360deg)
    }
}
img.spin:active{
    animation:spin .5s forwards;
}

@keyframes change{
    From{
        filter:hue-rotate(0deg);
    }
    To{
        filter:hue-rotate(1080deg);
    }
}
img.invert:hover{
    animation:change 3s forwards;
}
@keyframes vertin{
    From{
        filter:invert(0);
    }
    To{
        filter:invert(1);
    }
}
img.vertin:hover{
    animation:vertin 1s forwards;
}
